# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UnityTemplate.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alshi\RiderProjects\UnityTemplate\.idea\.idea.UnityTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
